@{
    ViewData["Title"] = "Sales Management";
}

<h2 class="mb-4">Sales Management</h2>

<!-- Daily Sales -->
<div class="card mb-4">
    <div class="card-header">📅 Sales of this month</div>
    <div class="card-body">
        <div id="dailyChart"></div>
    </div>
</div>

<!-- Sales Compare by Customer -->
<div class="card mb-4">
    <div class="card-header">🏢 Which customers generate the most sales?</div>
    <div class="card-body">
        <div id="customerChart"></div>
    </div>
</div>

<!-- Sales by Products -->
<div class="card">
    <div class="card-header">📦 Which product sales should we focus on?</div>
    <div class="card-body">
        <div id="productChart"></div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="~/js/sales.js"></script>
}

